_ngo/
_xmsgs/
doc/
iseconfig/
isim/
xlnx_auto_0_xdb/
xst/
*.exe
*.log
*.html
*.wdb
*.lso
*.syr
*.xst
*.xrpt
*.ini
*_beh.prj
fuse*
isim.cmd
.*.swo
*.gise
*.xise
*.cmd_log
*.ngc
*.ngr
*.prj
*.stx
*.bgn
*.bit
*.bld
*.drc
*.ncd
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.map
*.mrp
*.ngm
*.csv
*.txt
*.xml
